*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ‘Montserrat’, sans-serif;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

#container{
  width: 80%;
  margin: 0 calc(100% - 90%);
}

header{
  height: 20vh;
  margin-bottom: 0.5vh;
}

#logo{
  width: 8vw;
  padding-right: 3vh;
  border-right: 1px solid lightgrey;
}

#mainnav{
  width: 100%;
  margin: 0;
  line-height: 10vh;
}

#mainnav li{
  display: inline-block;
  margin-right: 2%;
}

#mainnav li a{
  text-decoration: none;
  color: grey;
  font-size: 0.9vw;
  display: inline-block;

}

#jumbotron{
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 645px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-bottom: 30px;
}

.aside{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 40vh;
}

.asidesx{
  background-image: url("../img/img-1.jpg");
  float: left;
}

.asidedx{
  background-image: url("../img/img-3.jpg");
  float: left;
}


.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.20);
  border-radius: 25px;
  z-index: 2;
}

section{
}

.title{
  font-size: 1.7vw;
  margin-bottom: 5vh;
}

.subtitle{
  color: grey;
  font-weight: lighter;
  font-size: 1.5vw;
}

.sezione3{
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 58%;
  margin: 0 1%;
  height: 40vh;
}

main{
  width: 100%;
  margin: 0 auto;
}

footer{
  background-color: purple;
  height: 70px;
  margin-top: 10px;
}
