*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ‘Montserrat’, sans-serif;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

#container{
  width: 80%;
  margin: 0 calc(100% - 90%);
}

header{
  height: 25%;
  margin-bottom: 1%;
}

.logobox{
  width: 15%;
  border-right: 1px solid lightgrey;
}

.logobox #logo{
  width: 91%;
}

#mainnav{
  width: 100%;
  margin: 0;
  line-height: 10vh;
}

#mainnav li{
  display: inline-block;
  margin-right: 2%;
}

#mainnav li a{
  text-decoration: none;
  color: grey;
  font-size: 0.9vw;
  display: inline-block;
}

main{
  width: 100%;
  margin: 0 auto;
}

#jumbotron{
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 645px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-bottom: 30px;
  position: relative;
}

.txtbox{
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 50%;
}

.txtbox h2, .txtbox p{
  color: white;
}


.title{
  font-size: 1.7vw;
  margin-bottom: 5vh;
}

.subtitle{
  color: grey;
  font-weight: lighter;
  font-size: 1.5vw;
}

.aside{
  float: left;
  width: 20%;
}

.aside img{
  width: 100%;
  height: 225px;
  border-radius: 8px;
  object-fit: cover;
}

.central{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.central img{
  width: 100%;
  height: 225px;
  border-radius: 8px;
  object-fit: cover;
}

.imagebox{
  position: relative;
  margin-bottom: 30px;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.20);
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

footer{
  text-align: center;
  height: 30px;
  margin-top: 35px;
}

#heart{
  color: red;
  margin-left: 5px;
}
